{{#if data.items}}
    <nav class="pg_wrap">
        <ul>
            <li>
                <a href="{{data.links.first}}" class="pg_btn first"></a>
            </li>
            <li>
                <a href="{{data.links.previous}}" class="pg_btn prev"></a>
            </li>

            {{#if (intCompare paging.start '>' 0)}}
                <li class="pg_btn pg_empty">&middot;&middot;&middot;</li>
            {{/if}}

            {{#for paging.start paging.end}}
                <li>
                    <a href="{{pageLink ../paging.route (sum this 1)}}"
                       class="pg_btn {{#if (isEqual ../data.meta.currentPage (sum this 1))}}active{{/if}}">
                        {{sum this 1}}
                    </a>
                </li>
            {{/for}}

            {{#if (intCompare paging.end '<' data.meta.totalPages)}}
                <li class="pg_btn pg_empty">&middot;&middot;&middot;</li>
            {{/if}}

            <li>
                <a href="{{data.links.next}}" class="pg_btn next"></a>
            </li>
            <li>
                <a href="{{data.links.last}}" class="pg_btn last"></a>
            </li>
        </ul>
    </nav>
{{/if}}